---
import Base from '../layouts/Base.astro';
import { getCollection, render } from 'astro:content';

const homeEntries = await getCollection('pages', ({ id }) =>
  id.startsWith('home/')
);
---

<Base title="BioData Catalyst">
  {homeEntries.map(async (entry) => {
    const { Content } = await render(entry);
    return (
      <section class="usa-section">
        <div class="grid-container">
          <Content />
        </div>
      </section>
    );
  })}
</Base>
