@use "@bdc/uswds-theme/src/uswds-init" as theme;

/* Map USWDS tokens to Starlight CSS custom properties */
:root {
  --sl-color-accent-low: #{theme.core-color(theme.$theme-color-primary-lightest)};
  --sl-color-accent: #{theme.core-color(theme.$theme-color-primary)};
  --sl-color-accent-high: #{theme.core-color(theme.$theme-color-primary-darker)};
  --sl-font-system: #{theme.core-font-family('sans')};
  --sl-font-system-mono: #{theme.core-font-family('mono')};
}
