$theme-in-page-nav-background-color: "default";
$theme-in-page-nav-background-padding: 2;
$theme-in-page-nav-background-radius: "lg";
$theme-in-page-nav-bar-color: "primary";
$theme-in-page-nav-bar-width: "05";
$theme-in-page-nav-font-family: "ui";
$theme-in-page-nav-link-color: "default";
$theme-in-page-nav-main-content-max-width: "desktop";
$theme-in-page-nav-margin-left: 4;
$theme-in-page-nav-margin-top: "05";
$theme-in-page-nav-top: "card";
